<style>
body, html {
    height: 100%;
    margin: 0;
}
.bg {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/579353/pexels-photo-579353.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   
</style>